# Don't commit personal data or backups
**/*.log
**/*.tar.gz
**/.env
**/chain-data.json
**/docs/**
**/events.json
**/joint.json
**/personal.json
**/addressBook.json
**/prices.json
**/separate.json
**/state.json
**/tax-return.pdf
**/transactions.json
modules/client/src/data

# Cache
modules/core/src/transactions/testChainData.json

# Cache
**/.cache
**/.config
**/.git
**/.node-gyp
**/.npm
**/.rpt2_cache
modules/taxes/ops/fields/i*.fields
modules/taxes/ops/forms/i*.pdf
**/*.docker-compose.yml
**/docker-compose.yml

# Compiled output
**/build/**
**/dist/**
**/node_modules/**
**/.flags

# Backups
**/*.lerna_backup

# OS
.bash_history
.DS_Store

# Tests
.nyc_output
coverage
cypress/screenshots
cypress/videos

# IDEs and editors
*.launch
*.sublime-workspace
*.sw[opq]
.c9/
.classpath
.idea
.project
.settings/
.vscode
