# Don't commit personal data or backups
**/*.log
**/*.tar.gz
**/.env
**/chain-data.json
**/docs/**
**/events.json
**/logs.json
**/personal.json
**/prices.json
**/state.json
modules/client/src/data

# Cache
**/.cache
**/.config
**/.node-gyp
**/.npm
**/.rpt2_cache
**/.git

# Compiled output
**/build/**
**/dist/**
**/node_modules/**
**/.flags

# Backups
**/*.lerna_backup

# OS
.bash_history
.DS_Store

# Tests
.nyc_output
coverage
cypress/screenshots
cypress/videos

# IDEs and editors
*.launch
*.sublime-workspace
*.sw[opq]
.c9/
.classpath
.idea
.project
.settings/
.vscode
