# Downloaded
node_modules 

# Useless
.DS_Store

# Generated
build
*.sw[op]
*.pyc

# Personal data
*backup.tar.gz
personal.json
./*.json
docs/*

# But still track the example personal data
!docs/example
